<!--<div class=" center jumbotron">-->
<!--  <div class="myBackground">-->
<!--    <h1>Welcome to Stylish Style</h1>-->
<!--    <p class="lead">Subscribe to our newsletter and not miss out on the latest updates from us</p>-->
    <!--<%#= link_to "Subscribe", "#", class: "btn btn-lg btn-xlarge"  %>-->
<!--  </div>-->
<!--</div>-->

<div id="main">
  <div id="d1"></div>
  <div id="d2"></div>
  <div id="d3"></div>
  <div id="d4"></div>
  <div id="content">Stylish<br>Style</div>
</div>

