<h1>Product Descriptions</h1>

<p>
  Name: <%= @product.name %> 
</p>

<p>
  Price: <%= @product.price %> 
</p>

<%= link_to "Back to product listing", products_path %> | <%= link_to "Edit this product", edit_product_path %>